/* Home Page Styling */

#masthead {
  background-color: rgb(114, 70, 62);
  color: rgb(255, 255, 255);
  margin: 2em;
  border: solid 3pt black;
  cursor: pointer;
  transition: ease;
  transition-duration: 2s;
}

body {
  background-color: rgb(63, 62, 62);
}

#masthead h1 {
  margin: auto;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

#masthead table,
td,
tr {
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
  border-spacing: 2em;
}

#masthead input {
  padding: 1em;
  text-align: center;
  margin: 1em auto auto auto;
  cursor: text;
  width: 60%;
  opacity: 0.6;
  border-radius: 1em;
  font-weight: bold;
  transition-duration: 1s;
}

#masthead input:hover,
active {
  opacity: 1;
  border: solid 2pt black;
  transition-duration: 2s;
}

#menuItem {
  background-color: rgb(70, 70, 106);
  border-radius: 10%;
  margin: 0.5em;
  border: solid 1pt black;
  box-shadow: 4px 4px black;
  font-size: 2em;
  text-align: center;
  padding: 0.5em;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

#menu {
  margin: auto;
}

.inactive {
  display: none;
}

#menuItem:hover {
  background-color: rgb(208, 213, 216);
  color: rgb(62, 68, 107);
  transition-duration: 2s;
}

#menuTitle {
  padding: 1em;
  font-size: 3em;
  color: white;
}

#masthead a,
a:hover,
a:active,
a:visited {
  color: white;
}

#mastfoot {
  background-color: rgb(114, 70, 62);
  color: rgb(255, 255, 255);
  white-space: nowrap;
  margin: 2em;
  border: solid 3pt black;
  text-align: center;
  padding: 1em;
  color: white;
  transition-duration: 1s;
}

#mastfoot a {
  margin: 1em;
  transition-duration: 2s;
}

#mastfoot a,
a:active,
a:visited {
  color: white;
}

a:hover {
  background-color: rgb(170, 172, 174);
  border-radius: 2em;
  padding: 0.5em;
  margin: 1em;
  transition-duration: 2s;
}

#main {
  margin: 2em 5em 2em 5em;
}

#sidebar {
  background-color: rgb(70, 70, 106);
  padding: 1em;
  height: 600px;
  width: 15%;
  float: left;
  margin: auto 2em auto 2em;
  border: solid 3pt black;
  transition-duration: 1s;
}

#sidebar:hover {
  border: solid 4pt lightyellow;
  transition-duration: 1s;
  transition-timing-function: ease;
  width: 18%;
}

#center {
  height: 600px;
  overflow: scroll;
  border: solid 3pt black;
  padding: 1em;
  margin: auto 2em auto 2em;
  background-color: rgb(206, 199, 199);
  transition-duration: 2s;
  transition-timing-function: linear;
  overflow: scroll;
}

#center:hover {
  border: solid 4pt lightyellow;
  transition-duration: 1s;
  transition-timing-function: ease;
}

/* Sign In Page Styling */

.signup-container {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  margin: 4em;
  background-color: rosybrown;
  border: solid 2pt black;
}

.signup-container input {
  border-radius: 2em;
  font-size: 1.5em;
  text-align: center;
  clear: both;
  width: 80%;
  margin: 1em;
}

.signup-container label {
  font-size: 2em;
}

#signIn-btn {
  width: 40%;
  background-color: rgb(62, 107, 70);
  color: white;
  font-weight: bold;
  font-size: 2em;
  padding: 0.25em;
}

#signUp-btn {
  width: 40%;
  background-color: rgb(46, 59, 150);
  color: white;
  font-weight: bold;
  font-size: 2em;
  padding: 0.25em;
}

#forgetP:active,
#forgetP:visited {
  color: rgb(84, 26, 16);
}
